<!DOCTYPE html>
<html lang="en">
    
{% include header.html %}

<body id="page-top">
    
    {{ content }}

  <!-- Bootstrap core JavaScript -->
  <script src="/assests/vendor/jquery/jquery.min.js"></script>
  <script src="/assests/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/assests/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/assests/js/grayscale.min.js"></script>

</body>

</html>
